<tr>
    <td style="background-image: url(./images/Gradient-bg.png);background-repeat: no-repeat;background-size: cover;background-position: center; padding: 10px; text-align: center;">
        <img src="https://d2ts2z83wsbfrd.cloudfront.net/dfc-prod/assets/logo.png" alt="" style="display: block;margin-left: auto; margin-right: auto; min-width: 120px; max-width: 120px; width: 120px; text-align: center;" width="120">
    </td>
</tr>