
$primary-dark:                 #1C042F;
$primary:                      #690FAD;
$second-primary:               #CAA8F5;
$third-primary:                #1C042F;
$forth-primary:                #8C14E6;


$accent-white:                 #F2F5EA;
$secondary-white:              #FFFFFA;
$white:                        #FFFFFF;

$cd-black:                     #06070E;
$danger:                       #d70f0f;


$btn-gradient: linear-gradient(227deg, #7812C6 15.11%, rgba(93, 13, 153, 0.65) 100%);
$btn-gradient-hover: linear-gradient(270.17deg, rgba(93, 13, 153, 0.65) 15.31%, #7812C6 99.74%);
$btn-gradient-active: linear-gradient(272.52deg, #5D0D99 16.63%, rgba(120, 18, 198, 0.65) 49.42%, #5D0D99 83.46%);