@mixin depth-sm{
  box-shadow: 0 .4rem .6rem 0 rgba(16, 24, 40, 0.03), 0 1.2rem 1.6rem 0 rgba(16, 24, 40, 0.08);
};
@mixin depth-md{
  box-shadow: 0 .8rem .8rem 0 rgba(16, 24, 40, 0.03), 0 2rem 2.4rem 0 rgba(16, 24, 40, 0.08);
};
@mixin depth-lg{
  box-shadow: 0 2.4rem 4.8rem 0 rgba(16, 24, 40, 0.18);
};
@mixin depth-xl{
  box-shadow: 0 3.2rem 6.4rem 0 rgba(16, 24, 40, 0.14);
}
