<table border="0" cellpadding="0" cellspacing="0" align="center" width="600"
       style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;max-width: 600px;">
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 18px; font-weight: 700; line-height: 21.94px;
                                color: #000000 !important;padding-top: 67px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 19px;">
            Password Reset
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            Hi,
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important; padding-bottom: 24px;
                                font-family: 'Montserrat',sans-serif;">
            There was a request to change your password.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
            If you did not make this request please contact us immediately on
        </td>
    </tr>
    <tr>
        <td align="center" valign="middle"
            style="font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 500; line-height: 17.07px;color:#690FAD !important; margin: 0; text-decoration: none; border-collapse: collapse;">
            <a href="mailto:support@coredirection.com" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
               style="max-height: 38px;display: block;font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 500; line-height: 17.07px;color:#690FAD !important;text-decoration:none">support@coredirection.com</a>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important; padding-top: 24px;
                                font-family: 'Montserrat',sans-serif;">
            Alternatively, if you’d like to change your password click the button below.
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%;
                                padding-top: 24px;padding-bottom: 60px; max-width: 160px;">
            <table border="0" cellpadding="0" cellspacing="0" width="160px" height="40px" align="center"
                   style="max-width: 160px; min-width: 160px; height: 40px; border-collapse: collapse; border-spacing: 0; padding: 0;">
                <tr>
                    <td align="center" valign="middle"
                        style="font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 700; line-height: 17.07px;color: #fff !important; margin: 0; text-decoration: none; border-collapse: collapse;">
                        <a href="<%- confirmationLink %>" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                           style="padding: 10px 20px 11px;background-color: #690FAD;max-width: 160px;max-height: 38px;border: 1px solid #690FAD;display: block;font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 700; line-height: 17.07px;color: #fff !important;border-radius:37px; text-decoration:none"
                           data-linkindex="1">Reset Password</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>