#reset-password-modal .modal-header,
#password-reset-confirmation-modal .modal-header {
  padding-top: 20px;
  padding-right: 30px;
}

#account-recovery-modal .modal-outer-box,
#otp-modal .modal-outer-box,
#reset-password-modal .modal-outer-box,
#password-reset-confirmation-modal .modal-outer-box {
  max-width: 566px;
  background: #ffffff;
}

#account-recovery-modal .form-container,
#otp-modal .form-container,
#reset-password-modal .form-container,
#password-reset-confirmation-modal .form-container {
  width: 100%;
  max-width: 400px;
}

#account-recovery-modal .form-container .modal-title,
#otp-modal .form-container .modal-title,
#reset-password-modal .form-container .modal-title,
#password-reset-confirmation-modal .form-container .modal-title {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .form-container .modal-title,
  #otp-modal .form-container .modal-title,
  #reset-password-modal .form-container .modal-title,
  #password-reset-confirmation-modal .form-container .modal-title {
    font-size: 24px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

#account-recovery-modal .forget-password-modal-desc,
#otp-modal .forget-password-modal-desc,
#reset-password-modal .forget-password-modal-desc,
#password-reset-confirmation-modal .forget-password-modal-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 46px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .forget-password-modal-desc,
  #otp-modal .forget-password-modal-desc,
  #reset-password-modal .forget-password-modal-desc,
  #password-reset-confirmation-modal .forget-password-modal-desc {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 389px) {
  #account-recovery-modal .forget-password-modal-desc,
  #otp-modal .forget-password-modal-desc,
  #reset-password-modal .forget-password-modal-desc,
  #password-reset-confirmation-modal .forget-password-modal-desc {
    margin-bottom: 50px;
  }
}

#account-recovery-modal .otp-modal-desc,
#otp-modal .otp-modal-desc,
#reset-password-modal .otp-modal-desc,
#password-reset-confirmation-modal .otp-modal-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .otp-modal-desc,
  #otp-modal .otp-modal-desc,
  #reset-password-modal .otp-modal-desc,
  #password-reset-confirmation-modal .otp-modal-desc {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 389px) {
  #account-recovery-modal .otp-modal-desc,
  #otp-modal .otp-modal-desc,
  #reset-password-modal .otp-modal-desc,
  #password-reset-confirmation-modal .otp-modal-desc {
    margin-bottom: 50px;
  }
}

/*#account-recovery-modal .form-group input:checked + label:after,*/
/*#otp-modal .form-group input:checked + label:after,*/
/*#reset-password-modal .form-group input:checked + label:after,*/
/*#password-reset-confirmation-modal .form-group input:checked + label:after {*/
/*  top: -2px;*/
/*  background: url("../images/icons/modal-checkbox-checked.png"), #ffffff;*/
/*}*/

@media screen and (max-width: 991px) {
  #account-recovery-modal .form-group input:checked + label:after,
  #otp-modal .form-group input:checked + label:after,
  #reset-password-modal .form-group input:checked + label:after,
  #password-reset-confirmation-modal .form-group input:checked + label:after {
    top: -3px;
  }
}

#account-recovery-modal .forget-password-group,
#otp-modal .forget-password-group,
#reset-password-modal .forget-password-group,
#password-reset-confirmation-modal .forget-password-group {
  position: relative;
}

#account-recovery-modal .forget-password-group label,
#otp-modal .forget-password-group label,
#reset-password-modal .forget-password-group label,
#password-reset-confirmation-modal .forget-password-group label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 400;
  position: absolute;
  top: 25px;
  padding: 0 5px;
  color: #000000 !important;
  -webkit-transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out;
}

#account-recovery-modal .forget-password-group .active,
#otp-modal .forget-password-group .active,
#reset-password-modal .forget-password-group .active,
#password-reset-confirmation-modal .forget-password-group .active {
  top: 0px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10.619px;
  padding-left: 0px;
  left: 0;
  color: #000000 !important;
}

#account-recovery-modal .forget-password-group input,
#otp-modal .forget-password-group input,
#reset-password-modal .forget-password-group input,
#password-reset-confirmation-modal .forget-password-group input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  padding: 20px 18px 8px;
  font-size: 12px;
  line-height: 14.63px;
  font-weight: 400;
  height: 53px;
  color: #000000;
  background-color: transparent !important;
  border-bottom: 1px solid #000000;
}

#account-recovery-modal .forget-password-group input:focus,
#otp-modal .forget-password-group input:focus,
#reset-password-modal .forget-password-group input:focus,
#password-reset-confirmation-modal .forget-password-group input:focus {
  outline: none;
  background-color: transparent !important;
}

#account-recovery-modal .forget-password-group svg,
#otp-modal .forget-password-group svg,
#reset-password-modal .forget-password-group svg,
#password-reset-confirmation-modal .forget-password-group svg {
  position: absolute;
  right: 1px;
  bottom: 12px;
}

#account-recovery-modal .forget-password-group svg,
#account-recovery-modal .forget-password-group path,
#otp-modal .forget-password-group svg,
#otp-modal .forget-password-group path,
#reset-password-modal .forget-password-group svg,
#reset-password-modal .forget-password-group path,
#password-reset-confirmation-modal .forget-password-group svg,
#password-reset-confirmation-modal .forget-password-group path {
  fill: #690fad;
}

#account-recovery-modal .otp-input-field-box,
#otp-modal .otp-input-field-box,
#reset-password-modal .otp-input-field-box,
#password-reset-confirmation-modal .otp-input-field-box {
  background-color: #f7f7f7;
  padding-top: 13px;
  padding-bottom: 12px;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .otp-input-field-box,
  #otp-modal .otp-input-field-box,
  #reset-password-modal .otp-input-field-box,
  #password-reset-confirmation-modal .otp-input-field-box {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 60px;
  }
}

#account-recovery-modal .otp-email,
#otp-modal .otp-email,
#reset-password-modal .otp-email,
#password-reset-confirmation-modal .otp-email {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: #690fad;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .otp-email,
  #otp-modal .otp-email,
  #reset-password-modal .otp-email,
  #password-reset-confirmation-modal .otp-email {
    font-size: 18px;
    line-height: 21px;
  }
}

#account-recovery-modal .opt-note,
#otp-modal .opt-note,
#reset-password-modal .opt-note,
#password-reset-confirmation-modal .opt-note {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .opt-note,
  #otp-modal .opt-note,
  #reset-password-modal .opt-note,
  #password-reset-confirmation-modal .opt-note {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
  }
}

#account-recovery-modal .opt-note a,
#otp-modal .opt-note a,
#reset-password-modal .opt-note a,
#password-reset-confirmation-modal .opt-note a {
  color: #690fad;
  text-decoration: underline;
}

#account-recovery-modal .otp-resend,
#otp-modal .otp-resend,
#reset-password-modal .otp-resend,
#password-reset-confirmation-modal .otp-resend {
  margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .otp-resend,
  #otp-modal .otp-resend,
  #reset-password-modal .otp-resend,
  #password-reset-confirmation-modal .otp-resend {
    margin-bottom: 30px;
  }
}

#account-recovery-modal .btn-signIn-instead,
#otp-modal .btn-signIn-instead,
#reset-password-modal .btn-signIn-instead,
#password-reset-confirmation-modal .btn-signIn-instead {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 97px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .btn-signIn-instead,
  #otp-modal .btn-signIn-instead,
  #reset-password-modal .btn-signIn-instead,
  #password-reset-confirmation-modal .btn-signIn-instead {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 78px;
  }
}

#account-recovery-modal .btn-submit,
#otp-modal .btn-submit,
#reset-password-modal .btn-submit,
#password-reset-confirmation-modal .btn-submit {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 0 auto 34px;
}

#account-recovery-modal .btn-confirm-password,
#otp-modal .btn-confirm-password,
#reset-password-modal .btn-confirm-password,
#password-reset-confirmation-modal .btn-confirm-password {
  margin-bottom: 89px;
}

#account-recovery-modal .reset-password-modal-desc,
#otp-modal .reset-password-modal-desc,
#reset-password-modal .reset-password-modal-desc,
#password-reset-confirmation-modal .reset-password-modal-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 56px;
}

@media screen and (max-width: 767px) {
  #account-recovery-modal .modal-header,
  #otp-modal .modal-header,
  #reset-password-modal .modal-header,
  #password-reset-confirmation-modal .modal-header {
    padding-right: 20px;
  }

  #account-recovery-modal .btn-submit,
  #otp-modal .btn-submit,
  #reset-password-modal .btn-submit,
  #password-reset-confirmation-modal .btn-submit {
    margin-bottom: 30px;
  }

  #account-recovery-modal .btn-confirm-password,
  #otp-modal .btn-confirm-password,
  #reset-password-modal .btn-confirm-password,
  #password-reset-confirmation-modal .btn-confirm-password {
    margin-bottom: 76px;
  }
}

@media screen and (max-width: 389px) {
  #account-recovery-modal .modal-header .btn-modal-close,
  #account-recovery-modal .modal-header .btn-modal-close svg,
  #otp-modal .modal-header .btn-modal-close,
  #otp-modal .modal-header .btn-modal-close svg,
  #reset-password-modal .modal-header .btn-modal-close,
  #reset-password-modal .modal-header .btn-modal-close svg,
  #password-reset-confirmation-modal .modal-header .btn-modal-close,
  #password-reset-confirmation-modal .modal-header .btn-modal-close svg {
    max-width: 28px;
  }

  #account-recovery-modal .modal-header,
  #otp-modal .modal-header,
  #reset-password-modal .modal-header,
  #password-reset-confirmation-modal .modal-header {
    padding-top: 15px;
    padding-right: 15px;
  }

  #account-recovery-modal .modal-body,
  #otp-modal .modal-body,
  #reset-password-modal .modal-body,
  #password-reset-confirmation-modal .modal-body {
    padding-left: 15px;
    padding-right: 15px;
  }

  #account-recovery-modal .form-container .modal-title,
  #otp-modal .form-container .modal-title,
  #reset-password-modal .form-container .modal-title,
  #password-reset-confirmation-modal .form-container .modal-title {
    margin-bottom: 20px;
  }
}

.field-control-box .form-control {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-bottom: 1px solid #000000;
  width: 100%;
  padding: 11px 5px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  padding-right: 34px;
}

.field-control-box {
  position: relative;
}

.field-control-box .form-label {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #222222;
}

.field-control-box svg {
  position: absolute;
  right: 8px;
  bottom: 12px;
}
