<table border="0" cellpadding="0" cellspacing="0" align="center" width="600"
       style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;max-width: 600px;">
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 18px; font-weight: 700; line-height: 21.94px;
                                color: #000000 !important;padding-top: 67px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 19px;">
            Welcome to Core Direction <%- userName %>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                Confirm your email address to start inspiring movement
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            <p style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0;width: 100%; max-width: 510px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif;">
                We're on a mission to inspire movement and that movement starts with you. Click below to join a community of like minded people striving for a better quality of life. Start inspiring today.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%;
                                padding-bottom: 60px; max-width: 230px;">
            <table border="0" cellpadding="0" cellspacing="0" width="230px" height="40px" align="center"
                   style="max-width: 230px; min-width: 230px; height: 40px; border-collapse: collapse; border-spacing: 0; padding: 0;">
                <tr>
                    <td align="center" valign="middle"
                        style="font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 700; line-height: 17.07px;color:#fff !important; margin: 0; text-decoration: none; border-collapse: collapse;">
                        <a href="<%- confirmationLink %>" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"
                           style="padding: 10px 20px 11px;background-color: #690FAD;max-width: 230px;max-height: 38px;border: 1px solid #690FAD;display: block;font-family: 'Montserrat',sans-serif; font-size: 14px; font-weight: 700; line-height: 17.07px;color:#fff !important;border-radius:37px; text-decoration:none"
                           data-linkindex="1">Confirm Email</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>