/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.php_cs.cache
/.idea
/storage
.idea/engagement.iml
.idea/php.xml
.idea/workspace.xml
/config/constants.php
/bootstrap/cache/
composer.lock
server.php
public/uploads/
app/certificates/
all-old.css
/*.sql
/*.backup
info.php
app/Components/CampaignCapping.php
/sandbox