<table border="0" cellpadding="0" cellspacing="0" align="center" width="600"
       style="border-collapse: collapse; border-spacing: 0; padding: 0; width: 100%;max-width: 600px;">
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 18px; font-weight: 700; line-height: 21.94px;
                                color: #000000 !important;padding-top: 67px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 19px;">
            Class Booking
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            Hello
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            A user has booked a space in the following class.
        </td>
    </tr>
    <tr>
        <td style="padding-left: 1rem; padding-right: 1rem;">
            <table style="width: 100%; max-width: 512px; margin: auto; padding-top: 13px; padding-bottom: 13px; border-top: 1px solid #C4C4C4; border-bottom: 1px solid #C4C4C4;">
                <tr>
                    <td style="max-width: 140px;
                                        text-align: left;
                                        font-family: 'Montserrat', sans-serif;
                                        font-size: 14px;
                                        padding-bottom: 5px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 12px;
                                        letter-spacing: 0em;
                                        text-align: left;
                                        margin-top: 0;
                                        margin-bottom: 8px;
                                        ">Class Details</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="max-width: 140px;">
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                ">Name</p>
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                ">Date</p>
                    </td>
                    <td>
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                "><%- activity_name %><</p>
                        <p style="text-align: left;
                                                font-family: 'Montserrat', sans-serif;
                                                font-size: 12px;
                                                padding-bottom: 3px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 11.72px;
                                                letter-spacing: 0em;
                                                margin: 0;
                                                "><%- class_date %></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="border-collapse: collapse; border-spacing: 0; margin: 0; padding: 0; padding-left: 15px; padding-right: 15px; width: 100%; max-width: 377px; font-size: 14px; font-weight: 400; line-height: 17.07px;
                                color: #000000 !important;padding-top: 24px;
                                font-family: 'Montserrat',sans-serif; padding-bottom: 24px;">
            Log into your dashboard to find out more.
        </td>
    </tr>
</table>