#CorePremium-modal .modal-header {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
}

#CorePremium-modal .modal-header svg {
  margin-left: auto;
}

#CorePremium-modal .modal-header svg path {
  fill: #fffffa;
}

#CorePremium-modal .modal-outer-box {
  position: relative;
  max-width: 848px;
  border-radius: 16px;
  background: linear-gradient(
    227deg,
    #7812c6 15.11%,
    rgba(93, 13, 153, 0.65) 100%
  );
}

#CorePremium-modal .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-column-gap: 32px;
  column-gap: 32px;
}

@media (min-width: 768px) {
  #CorePremium-modal .modal-body {
    padding: 72px 64px;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .modal-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding: 64px 32px;
  }
}

#CorePremium-modal .offer-details-box {
  width: 100%;
  max-width: 366px;
}

@media (min-width: 768px) {
  #CorePremium-modal .offer-details-box {
    padding: 4px 0;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

#CorePremium-modal .offer-details-box .subtitle {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px 0;
}

@media (min-width: 768px) {
  #CorePremium-modal .offer-details-box .subtitle {
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box .subtitle {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

#CorePremium-modal .offer-details-box .subtitle strong {
  font-weight: 700;
}

#CorePremium-modal .offer-details-box .title {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
}

@media (min-width: 768px) {
  #CorePremium-modal .offer-details-box .title {
    margin-bottom: 4px;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box .title {
    font-size: 14px;
  }
}

#CorePremium-modal .offer-details-box .tmc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: clamp(5px, 1.302vh, 10px);
  list-style-type: disc;
  margin-bottom: 32px;
  padding: 8px;
  padding-left: 25px;
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box .tmc-list {
    margin-bottom: 16px;
  }
}

#CorePremium-modal .offer-details-box .tmc-list .tmc-item {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box .tmc-list .tmc-item {
    font-size: 12px;
  }
}

#CorePremium-modal .offer-details-box .desc {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  text-align: left;
  padding: 8px;
}

@media (max-width: 767px) {
  #CorePremium-modal .offer-details-box .desc {
    font-size: 12px;
    margin-bottom: 8px;
  }
}

#CorePremium-modal .redeem-details-box {
  width: 100%;
  max-width: 290px;
}

@media (min-width: 768px) {
  #CorePremium-modal .redeem-details-box {
    padding: 8px 0;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box {
    display: contents;
  }
}

#CorePremium-modal .redeem-details-box .subtitle {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  #CorePremium-modal .redeem-details-box .subtitle {
    padding: 8px 0;
  }
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box .subtitle {
    font-size: 10px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    width: 100%;
    margin-bottom: 8px;
  }
}

#CorePremium-modal .redeem-details-box .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  row-gap: 10px;
  padding: 8px;
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box .title-box {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 4px;
  }
}

#CorePremium-modal .redeem-details-box .title-box .core-premium-icon-box {
  width: 88px;
  height: 88px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box .title-box .core-premium-icon-box {
    width: 51px;
    height: 51px;
  }
}

#CorePremium-modal .redeem-details-box .title-box .core-premium-icon-box svg,
#CorePremium-modal .redeem-details-box .title-box .core-premium-icon-box img {
  width: 100%;
  height: 100%;
}

#CorePremium-modal .redeem-details-box .title-box .title {
  color: #fffffa;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box .title-box .title {
    font-size: 20px;
  }
}

#CorePremium-modal .redeem-details-box .title-box .title strong {
  font-weight: 700;
}

#CorePremium-modal .redeem-details-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
}

@media (max-width: 767px) {
  #CorePremium-modal .redeem-details-box .btn-box {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    padding: 8px 0;
    row-gap: 8px;
  }
}

#CorePremium-modal .redeem-details-box .btn-box .btn-upgrade-account,
#CorePremium-modal .redeem-details-box .btn-box .btn-learn-more {
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 12px 24px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: 1px solid transparent;
}

#CorePremium-modal .redeem-details-box .btn-box .btn-upgrade-account {
  color: #690fad;
  background: #fffffa;
}

#CorePremium-modal .redeem-details-box .btn-box .btn-learn-more {
  color: #fffffa;
  border-color: #fffffa;
  background: transparent;
}
